/* header {
  display: flex;
  justify-content: space-between;
} */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header {
  background-color: #3C3F58;
  color: #FFFFFF;
  padding: 20px;
}

nav ul {
  justify-content: space-between;
  display: flex;
  list-style: none;
  margin: 0 20px 0 20px;
  padding: 0;
}

nav ul li {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  align-items: center;
  font-size: 35px;
}

nav ul li a {
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover {
  text-decoration: underline;
}

#intro {
  text-align: center;
  margin-top: 50px;
}

#intro h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

#intro p {
  font-size: 20px;
  margin-bottom: 50px;
}


#start-btn {
  background-color: #a782b0;
  border: none;
  color: #FFFFFF;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #775d7e;
}

#answer-buttons {
  display: none;
}

.custom-btn {
  display: block;
  text-align: left;
  background-color: #a782b0;
  border: none;
  color: #FFFFFF;
  padding: 5px;
  padding-right: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0 10px 0;
}

.custom-btn:hover {
  background-color: #775d7e;
}

#high-score-initials {
  padding: 0;
}

#save-button {
  background-color: #a782b0;
}

#save-button:hover {
  background-color: #775d7e;
}

.delete-btn {
  display: block;
  text-align: left;
  background-color: #D9534F;
  border: none;
  color: #FFFFFF;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0 10px 0;
}

.delete-btn:hover {
  background-color: #C9302C;
}